@import './vars';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Jost', sans-serif;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
}

ul {
   list-style: none;
}

a {
   color: inherit;
   font-family: inherit;
   text-decoration: none;
}

button {
   background-color: transparent;
   border: none;
}

input, textarea {
   border: none;
}

.modal-open {
   width: calc(100% - 1.7rem);
   overflow: hidden;

   .top-bar {
      width: 100vw;
   }
}

.wrapper {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   position: relative;

   &__inner {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      
      .container {
         display: flex;
         flex-grow: 1;
      }
   }
}

.container {
   width: 100%;
   max-width: 144rem;
   padding: 0 1rem;
   margin: auto;
}

.main {
   width: 100%;
   display: flex;
}

.main_inner {
   width: 80%;
}
