@import './vars';

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   font-family: 'Jost', sans-serif;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
}

ul {
   list-style: none;
}

a {
   color: inherit;
   font-family: inherit;
   text-decoration: none;
}

button {
   background-color: transparent;
   border: none;
}

input, textarea {
   border: none;
}

.wrapper {
   min-height: 100vh;
   position: relative;
}

.container {
   width: 100%;
   max-width: 127rem;
   padding: 0 1rem;
   margin: auto;
}

.main {
   display: flex;
}

.content {
   width: 100%;
}

.button {
   padding: 2px 4rem;
   background-color: $color;
   border-radius: 3rem;
   color: $white;
   font-size: 1.9rem;
   cursor: pointer;

   &:hover {
      background-color: darken($color, 5%);
   }
}
