@import '../../../styles/vars';

.profile {
   &__info {
      padding: 2rem;
      background-color: darken($white, 0.5%);
      box-shadow: $shadow;
   }

   &__detail {
      margin-top: 2rem;
   }

   &__info-title {
      font-size: 2.4rem;
   }

   &__info-item {
      color: $primary
   }

   &__info-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__info-link {
      color: $color;

      &:hover {
         text-decoration: underline;
      }
   }

   &__content {
      width: 80%;
   }

   &__user {
      display: flex;
      align-items: center;
   }

   &__image-container {
      position: relative;

      &:hover {
         .profile__image-delete {
            display: block;
         }
      }
   }

   &__image {
      width: 10rem;
      height: 10rem;
      margin-right: 2rem;
      background-color: darken($white, 5%);
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      span {
         color: $white;
         font-size: 4.8rem;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 1;
      }

      label {
         width: 100%;
         height: 100%;
         border-radius: 50%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         cursor: pointer;
      }

      &:hover {
         .profile__image-icon {
            bottom: 0;
         }
      }
   }

   &__image-error {
      color: $red;
      font-size: 1.5rem;
   }

   &__image-default {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $gray;
   }

   &__image-icon {
      width: 100%;
      padding: 2rem 0;
      background-color: rgba($black, 0.5);
      position: absolute;
      bottom: -4rem;
      left: 0;
      z-index: 1;
      transition: bottom 0.1s linear;

      span {
         position: absolute;
         top: 50%;
         left: 50%;
         color: rgba($white, 0.8);
         font-size: 2.2rem;
         transform: translate(-50%, -50%);
      }
   }

   &__image-delete {
      display: none;
      position: absolute;
      top: 0;
      right: 2rem;
      z-index: 3;

      span {
         color: $gray;
         font-size: 2.1rem;
         cursor: pointer;
      }

      &:active {
         span {
            color: darken($gray, 20%);
         }
      }
   }

   &__name {
      color: $primary;
      font-size: 2.8rem;
   }

   &__history {
      display: flex;
      justify-content: space-between;
      margin: 2rem 0 4rem;
   }

   &__history-order {
      width: calc(100% / 3 - 2rem);
      padding: 1rem;
      background-color: $white;
      box-shadow: $shadow;
      border-radius: 1rem;

      &:not(:last-child) {
         margin-right: 2rem;
      }

      p {
         text-align: center;
         color: $primary;
         font-size: 1.8rem;
         font-weight: 600;
         line-height: 1;
      }
   }

   &__history-image {
      width: 11rem;
      height: 17rem;
      margin: auto;
      margin-bottom: 5px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__diagram {
      width: 100%;
      height: 40rem;
   }
}