@import '../../styles/vars';

.header {
   margin: 1rem 0 3rem;

   &__inner {
      width: 100%;
      min-height: 6.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__block {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 2rem;
      color: $black;
      font-size: 2.1rem;
      font-weight: 600;
   }

   &__search {
      width: 100%;
      max-width: 56rem;
      margin: 0 1rem;
      position: relative;
   }

   &__search-filed {
      width: 100%;
      padding: 1rem 1rem 1rem 4rem;
      border-bottom: 1px solid $gray;
      font-size: 1.6rem;

      &:focus {
         border-bottom: 1px solid $color;
      }
   }

   &__search-icon {
      color: $gray;
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);

      span {
         font-size: 2.1rem;
      }
   }

   &__buttons {
      display: flex;
      align-items: center;
      position: relative;
   }

   &__link-container {
      &:not(:first-child) {
         margin-left: 2rem;
      }
   }

   &__icon {
      text-align: center;
      cursor: pointer;

      &.counter {
         padding: 1rem;
         background-color: darken($white, 0.5%);
         border-radius: 5px;
         position: relative;
         overflow: hidden;

         span {
            line-height: 1;
         }

         &:after {
            content: "";
            width: 100%;
            height: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
         }
      }

      &.scores {
         &:after {
            background-color: $color;
         }
      }

      &.finance {
         &:after {
            background-color: $green;
         }
      }

      p, span {
         color: $primary;
         transition: color .1s linear;
      }

      span {
         display: block;
         font-size: 2.1rem;
      }

      p {
         margin-top: 3px;
         font-size: 1.4rem;
      }

      button {
         cursor: pointer;
      }

      &.active {
         p, span {
            color: $color;
         }
      }

      &:hover {

         p,
         span {
            color: $color;
         }
      }
   }

   &__account-modul {
      min-width: 10rem;
      padding: 1rem;
      background-color: darken($white, 0.5%);
      box-shadow: $shadow;
      border-radius: 3px;
      position: absolute;
      bottom: -13rem;
      right: 0;
      z-index: 1;

      li {
         width: fit-content;
         margin-bottom: 5px;
         display: flex;
         align-items: center;
         color: $primary;
         font-size: 1.7rem;
         font-weight: 500;
         cursor: pointer;

         p {
            margin-left: 1rem;
         }

         a {
            display: flex;
            align-items: center;
         }

         &:last-child {
            margin-bottom: 0;
            color: $red;

            &:hover {
               color: darken($red, 10%);
            }
         }

         &:hover {
            color: $black;
         }
      }
   }
}
